# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
DATABASE_URL="postgresql://postgres:example@localhost:5432/third-eye"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="ds98uq34klasjd09832up98asdf"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="my_super_secure_nextauth_secret"

# Next Auth Discord Provider
DISCORD_CLIENT_ID="sss"
DISCORD_CLIENT_SECRET="ss"
